.gauche,.droite {
    position: absolute;
    font-size: 7vw;
    cursor: pointer;
    top: 50%;
    color: red;
    transition: 0.3s all;
    z-index: 2;
    
}

.gauche {
    left: 0px;
    transform: translateY(-40%) rotate(0deg);
}

.droite {
    right: 0px;
    transform: translateY(-40%) rotate(0deg);
}

.gauche:hover,.droite:hover {
    transition: 0.3s all;
    color: #fff;
}

@media screen and (max-width:1000px) {
    .droite svg{
     width: 50px;
    }

    .gauche svg{
        width: 50px;
    }
}