

.collapse-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.collapse {
  
    background-color: #FF6060;
    color: #FFFFFF;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border: none;
    width: 80%;
    border-radius: 10px;
    font-size: 24px;
    margin: 20px;
    
  }
  
  .collapse-content {
    background-color: #F6F6F6;
    transition: all 0.5s ease-in-out;
    display: none;
   width: 80%;
    
  }
  
  .collapse-content.expanded {
    display: block;
    color: #FF6060;
    padding: 25px;
    font-size: 20px;
    

  
  }

  @media screen and (max-width:1000px) {

    .collapse {
        font-size: 15px;
        margin-top: 15px;
        width: 95%;
    }

    .collapse-content {
        font-size: 10px;
        padding-top: 3px
    }
}
  
  